<div layout='column' layout-fill>
    <md-toolbar layout="row" layout-align="center center" class='md-medium-tall' style="background-color:#2196f3">
        <div id="loginTopBar">
            <p >Majong</p>
        </div>
    </md-toolbar>
    
    
    <md-content flex class='md-padding'>
        <div layout="column" layout-align="center center" flex>
          <md-whiteframe id="loginCard" class="md-whiteframe-3dp" layout="column">
                <div layout="column" class="LoginCard" flex>
                    <h4>Project:</h4>
                    <p>Majong Advance Javascript</p>
                    <h4> Login with Avans OAuth</h4>
                </div>
                <div layout="row" class="LoginCard" ng-show="ctrl.accountVisible">
                    <md-list>
                        <md-list-item class="md-3-line">
                            <md-icon class="md-avatar-icon"><i class="material-icons">person</i></md-icon>
                            <div class="md-list-item-text" layout="row" ng-click="">
                                <div layout="column" >
                                    <h3 style="color: #ffffff">{{ ctrl.accountName }}</h3>
                                </div>
                                <div flex="10">
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <md-divider></md-divider>
                <div layout="row" id="cardButtons" layout-align="space-around center" flex="20">
                    <md-button ng-click="ctrl.login()">Login</md-button>
                    <md-button ng-click="ctrl.logout()">Logout</md-button>
                </div>
          </md-whiteframe>
        </div>
    </md-content>  
</div>

<!--

http://mahjongmayhem.herokuapp.com/auth/avans?callbackUrl=http://localhost:3000%2F%23%2Flogin

