$selectedTileBorderColor: #444444;
$possibleMatch: #a3df32;

gameboard {
  position: fixed;
  margin-left: auto;
  margin-right:auto;
}

.selectedTile {
  border: 2px solid $selectedTileBorderColor;
}

.possibleMatch {
  border: 2px solid $possibleMatch;
}


.subGameboardView {
  overflow-y: scroll;
  overflow-x: hidden;
}