$standardWhiteTextColor: #ffffff;
$standardButtonColor: #f5f5f5;
$standardApplicationColor: #2196f3;

/* variable */
$loginCardWidth: 40em;

.whiteText {
  color: $standardWhiteTextColor;
}

.defaultColorBackground {
  background-color: $standardApplicationColor;
}

#loginTopBar {
  @extend .whiteText;

}

@mixin border-margin($margin) {
  margin-left: $margin;
  margin-right: $margin;
  margin-top: $margin;
  margin-bottom: $margin;
}

#loginCard {

  width: $loginCardWidth;

  .LoginCard {
    @extend .whiteText;
    @extend .defaultColorBackground;
  }

  h4 {
    @include border-margin(1em);
  }

  p {
    @include border-margin(1em);
  }

  #cardButtons {
    background-color: $standardButtonColor;
  }
}

