<div layout='column' layout-fill>

    <md-divider></md-divider>
        <div layout="column" layout-align="center center">
            <table id="defaultGameInfo">
                <tr>
                    <th>Name: </th>
                    <td></td>
                    <td> {{ ctrl.currentGame.createdBy.name }}</td>

                </tr>
                <tr>
                    <th>Created on: </th>
                    <td></td>
                    <td> {{ ctrl.currentGame.createdOn }}</td>
                </tr>
                <tr>
                    <th>Template:</th>
                    <td></td>
                    <td> {{ ctrl.currentGame.gameTemplate.id }}</td>
                </tr>
                <tr>
                    <th>Game state</th>
                    <td></td>
                    <td> {{ ctrl.currentGame.state }}</td>
                </tr>
            </table>
        </div>
    <md-divider></md-divider>


        <md-content flex class='md-padding' layout="row" >
            <div layout="column" flex="50">
                <md-list id="playerList">
                    <h2 > Players </h2>
                    <md-list-item class="md-3-line playerCard"   ng-repeat="player in ctrl.players" ng-click="ctrl.setMatchedPlayersTiles(player)">
                        <md-icon class="md-avatar-icon"><i class="material-icons">person</i></md-icon>
                        <div class="md-list-item-text" layout="row">
                            <div layout="column" >
                                <h3>{{ player.name }}</h3>
                            </div>
                            <div flex="10">
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </div>

            <div layout="column" flex="50">
                <md-list id="tileList">
                    <h2 class="titleText"> Matched Tiles </h2>
                    <md-list-item class="md-3-line"   ng-repeat="tile in ctrl.playerMatchedTiles">
                        <div class="tileImage {{tile.tile.suit}}{{tile.tile.name}}"></div>
                        <div class="md-list-item-text" layout="row">
                            <div layout="column" layout-padding class="titleText">
                                <h3 >Found on: {{ tile.match.foundOn }}</h3>
                                <h3 >Name: {{tile.tile.suit}}{{tile.tile.name}}</h3>
                            </div>
                            <div flex="10">
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>

</div>

<!--

http://mahjongmayhem.herokuapp.com/auth/avans?callbackUrl=http://localhost:3000%2F%23%2Flogin

